smbmap.csv
test_attività.txt
myenv/
gemini.py
nbtscan.txt
output_combined.json
scan.xml
server/scan/__pycache__/openai.cpython-311.pyc
scan/my_venv/
server/scan/openai_integration.py
test.txt
server/scan/__pycache__
masscan.xml
masscanu.xml 
